.about-section {
  display: flex;
  flex-direction: column;
  background-color: #f0f6f6;
  color: #2b2b2b;
  letter-spacing: 3px;
  padding-bottom: 10%;
}

.about-section-title-div {
  padding-top: 10%;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.about-section-title-div h2 {
  text-align: center;
  font-size: 34px;
  letter-spacing: 3px;
}

.about-title-underline {
  width: 40px;
  height: 6px;
  border-radius: 4px;
  margin: 2% auto;
  background-color: #ff66b3;
}

.about-section-title-div h4 {
  letter-spacing: 2px;
  line-height: 24px;
  text-align: center;
}

.about-section-content-div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.about-section-about-content {
  width: 80%;
}

.about-section-content-div h3 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 6%;
}

.about-section-content-div p {
  text-align: justify;
  line-height: 20px;
  font-size: 20px;
}

.about-section-content-div a {
  text-decoration: underline;
  cursor: pointer;
  color: #ff66b3;
  font-weight: 700;
}

.about-section-images-div {
  margin: 5% auto 0 auto;
  width: 80%;
}

.about-section-skills-div {
  width: 50%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
}

.about-section-content-div ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.about-section-content-div li {
  list-style: none;
  background-color: #084b83;
  box-shadow: 1px 1px 3px black;
  padding: 2% 3%;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-shadow: 0px 1px 3px black;
  color: #f0f6f6;
  transition: transform .3s
}

.about-section-content-div li:hover {
  transform: scale(1.1);
}

/* ------------------------- Responsive 1200 ----------------------------- */

@media screen and (max-width: 1200px) {
  .about-section-content-div {
    display: flex;
    flex-direction: column;
  }
  
  .about-section-about-content {
    width: 90%;
  }

  .about-section-skills-div {
    width: 90%;
    margin: 0 auto;
  }
}
