.header-main-div {
  padding: 1% 0%;
  display: flex;
  background-color: #f0f6f6;
  align-items: center;
  justify-content: space-between;
  color: #2b2b2b;
  max-width: 100%;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  box-shadow: 0px 0px 2px black;
  position: fixed;
  z-index: 99;
  transition: .3s;
}

.header-main-div div {
  padding: 0 5%;
}

.header-tittle-div {
  display: flex;
  align-items: center;
}

.header-tittle-div span {
  cursor: pointer;
  transition: ease .3s;
  font-size: 16px;
}

.header-tittle-div span:hover {
  color: #42bfdd;
}

.header-tittle-photo {
  cursor: pointer;
  border-radius: 50%;
  margin-right: 20px;
  width: 60px;
  border: 2px solid #2b2b2b;
}

.header-links-div ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.header-links-div li {
  display: block;
  padding: 0.25em 1em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: ease .3s;
}

.header-links-div li:hover {
  color: #42bfdd;
}

/* ------------------------------- 800 px Responsive ---------------------------- */

@media screen and (max-width: 800px) {
  .header-links-div {
    display: none;
  }

  .header-tittle-div {
    width: 90%;
    margin: 1% auto;
    justify-content: space-evenly;
  }

  .header-tittle-div span {
    font-size: 22px;
    font-weight: 700;
  }
  
  .header-tittle-photo {
    margin: 0;
  }
}
