.main-content-div {
  background-color: #1A1A2E;
  height: inherit;
  color: #eaeaea;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  z-index: 97;
  max-height: 100vh;
}

.main-content-background {
  position: absolute;
  opacity: .1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main-content-div-tittles {
  position: relative;
  z-index: 98;
  padding-top: 25vh;
}

.main-content-div-tittles h1 {
  font-size: 48px;
  letter-spacing: 4px;
}

.main-content-div-tittles h3 {
  font-size: 22px;
  margin-top: 1%;
}

.main-content-div-tittles p {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  margin: 2% auto;
  width: 600px;
}

.main-button-div {
  margin-top: 4%;
  position: relative;
  z-index: 98;
}

.main-button-div button {
  text-align: center;
  color: #1b1b1b;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
  font-family: inherit;
  border: none;
  background-color: #962c3e;
  padding: 18px 40px;
  border-radius: 6px;
  box-shadow: 1px 6px 12px #141420;
  cursor: pointer;
  transition: all .2s linear;
}

.main-button-div button:hover {
  text-align: center;
  background-color: #E94560;
  color: #eaeaea;
  transform: translateY(-3px);
}

.main-scrollicon-div {
  position: relative;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  z-index: 98;
  bottom: 10%;
}

.scrollicon-border {
  margin: 0 auto;
  padding: 1%;
  border: 2px solid white;
  border-radius: 20px;
  height: 25px;
  width: 10px;
}

.scrollicon-animation {
  margin: 0px auto;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  animation: scrollanim 2s infinite;
  position: relative;
  bottom: -20px;
}

@keyframes scrollanim {
  0% { opacity: 1;}
  100% { transform: translateY(-22px); opacity: 0; }
}

