.projectcards-main-div {
  width: 80%;
  margin: 2% auto;
  display: flex;
  flex-wrap: wrap;
}

.projectcard-main-div {
  display: flex;
  width: 100%;
  margin: 5% auto;
  align-items: flex-start;
}

.project-infos-main-div {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.projectcard-main-div h2 {
  font-size: 24px;
  text-align: center;
  margin: 5% 0;
}

.projectcard-main-div p {
  cursor: grabbing;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  margin: 10% 0;
  height: fit-content;
  width: 100%;
  max-height: 210px;
  padding: 0 5%;
  overflow: auto;
}

.projectcard-main-div p::selection {
  background-color: #f0f6f6;
}

.projectcard-main-div a {
  color: #f0f6f6;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
  font-family: inherit;
  border: none;
  background-color: #0b4b83;
  padding: 16px 40px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px #2b2b2b;
  cursor: pointer;
  max-height: 20px;
  transition: all .2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% 0;
}

.projectcard-main-div a:hover {
  background-color: #42bfdd;
  color: #f0f6f6;
  transform: translateY(-3px);
}

/* ------------------------ 1200 responsive -------------------- */

@media screen and (max-width: 1200px) {
  .projectcard-main-div {
    flex-direction: column-reverse;
    align-items: center;
  }

  .projectcard-main-div:nth-child(-n +2) {
    border-bottom: 1px solid #2b2b2b;
  }

  .project-infos-main-div {
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projectcard-main-div h2 {
    text-align: center;
    margin: 5% auto;
  }

  .projectcard-main-div p {
    margin: 5% auto;
  }

  .projectcard-main-div a {
    margin: 5% auto;
  }
}
